:root{
    --darkerBlue: #77A0A6ff;
    --lighterBlue: #BACFD5ff;
    --lighterGreen: #A3C5B4ff;
    --myYellow: #D5BA89ff;
    --rosy-brown: #C6A8A8ff;
}

*{
    background-color: var(--myYellow);
}

h1{
    color:var(--darkerBlue)
}